.mainContainerProductosOfertasTitulo{
    margin-top: 2vw;
        h2{
            font-size: 2vw;
        }
}

.mainContainerProductosOfertas{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.mainContainerProductosOfertasSlider{
    width: 80vw;
    margin-bottom: 2vw;
}

    

