.mainContainerCarta{
    width: 18vw;
    height: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0.5vw 0.3vw #CACACA;
    border: 0.1vw solid #DDDDDD;
    border-radius: 3vw;
    position: relative;

    a{
        text-decoration: none;
    }

    h2, h3, h4{
        text-align: center;
    }

    h2{
        font-size: 3vw;
    }

    h3{
        font-size: 1.5vw;
        color: black;
    }

    h4{
        font-size: 1.5vw;
        color: black;
        height: 5vw;
        max-height: 100%;
        overflow: hidden;
    }

    .mainContainerCartaFav{
        width: 17vw;
        height: 2vw;
        margin-top: 0vw;
        align-items: center;
        display: flex;
        justify-content: start;
            img{
                height: 2vw;
            }
    }

    .mainContainerCartaImagen{
        height: 10vw;
    }

    .tarjetaProductoAgregadoContainer{
        margin-top: 3vh !important;
        width: 30vw;
            p{
                font-size: 1vh;
            }
    }

    .mainContainerCartaSumarRestar{
        width: 10vw;
        display: flex;
        justify-content: space-around;
        border: 0.2vw solid #009BE7;
        border-radius: 2vw;
        align-items: center;
        margin-top: 3vw;
        margin-bottom: 1vw;
            img{
                height: 2vw;
                cursor: pointer;
            }
    }

    .mainContainerCartaAgregarAlCarrito{
        width: 10vw;
        height: 3vw;
        margin-bottom: 1vw;
        cursor: pointer;
    }
}

.mainContainerCartaPrecioSinDescuento{
    text-decoration: line-through;
    color: #6b6a6a !important;
    font-size: 90% !important;
    position: absolute;
    right: 2.5vw;
}



