.tarjetaProductoAgregadoContainer{
    background-color: #00C008;
    border: #00C008 solid 0.1vw;
    border-radius: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 8vh;
    height: 10vh;
    width: 15vw;
    p{
            margin-top: 2.5vh;
            text-align: center;
            color: white;
            font-weight: 800;
            font-size: 1vw;
        }
}