.mainDivAyudaApp{
    display: flex;
    justify-content: center;

    margin-top: 5vw;
        img{
            width: 40vw;
            max-height: 16vw;
            cursor: pointer;
            border-radius: 2vw;
        }
}