header{
    width: 100vw;
    max-width: 100vw;
    height: 13vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(143, 143, 143);
    flex-wrap: wrap;
    position: relative;
    
}
html{
    max-width: 100vw;
    overflow-x: hidden;
}
.headerNav1{
    
    width:85vw;
    height: 6vw;
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    ul{
        margin-bottom: 0vw;
    }
}

.headerNav2{
    
    width:100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    position:absolute;
    bottom: -5vw;
    height: 5vw;

    margin-right: 7.5vw;
        
}

.headerNav2Item{
    width: 21.25vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.3vw;
    color: #F88A1B !important;
    text-align: center;
}

.headerDropdown{
    a{
        font-size: 1vw;
        color: #F88A1B !important; 
    }
    color: #F88A1B !important;
    max-width: 100%;
}
.headerLogo{
    width: 10vw;
    
}

.headerDivInput{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
        img{
            width: 1vw;
            position: absolute;
            margin-left: 1vw;
        }
}

.headerInput{
    border-radius: 20px;
    width: 30vw;
    height: 3vw;
    font-size: 1.5vw;
    border: 2px solid #F2F2F2;
    background-color: #F2F2F2;
    text-indent: 2vw;
}

.headerIconoUsuario{
    height: 2vw;
}

ul{
    display: flex;
    justify-content: row;
    align-items: center;
}

li{
    font-size: 1vw;
    display: inline-block;
    margin-right: 0.4vw;
    cursor: pointer;
}