.mainNuestrosProductosTarjetaCategoriaContainer{
    position: relative;
    display: flex;
    justify-content: center;
}

.mainCategoriaTitulo{
    color: black;
    font-size: 0.8vw;
    top: 10.5vw;
    left: 1vw;
    font-weight: 500;
    position: absolute;
}