.mainContainerProductosMasVendidosTitulo{
    margin-top: 2vw;
        h2{
            font-size: 2vw;
        }
}

.mainContainerProductosMasVendidos{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.mainContainerProductosMasVendidosSlider{
    width: 80vw;
    margin-bottom: 2vw;

        
}