.mainContainerProductosLanzamientosTitulo{
    margin-top: 2vw;
        h2{
            font-size: 2vw;
        }
}

.mainContainerProductosLanzamientos{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.mainContainerProductosLanzamientosSlider{
    width: 80vw;
    margin-bottom: 2vw;
}

.sliderSpinner{
    width: 80vw;
    display: flex;
    justify-content: center;
}



