.listadoProductosContainer{
    margin-top: 5vw;
    display: flex;
    width: 99vw;
}

.listadoProductosFiltros{
    width:10vw;
    margin-left: 10vw;
    margin-right: 10vw;
}

.listadoProductosTitulo{
    margin-bottom: 3vw;

    h3{
        color: #7e7b7b;
    }
}

.listadoProductosSinProductos{
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        h2{
            font-size: 2vw;
            text-align: center;
        }

        img{
            
            height: 60vh;
        }
}

.productoBusquedaSpinner{
    margin-top: 20vh;
}
