.tarjetaProducto2DescuentoContainer{
    background-color: #F88A1B;
    border: 1vw solid #F88A1B;
    height: 2vh;
    width: 4vw;
    border-radius: 2vw;
    margin-top: 0.5vh;
    position: relative;
    margin-left: 2vw ;
    
    display: flex;
        img{
            position: absolute;
            top: -0.8vh;
            left: -0.7vw;
            height: 2vh;
        }

        h3{
            position: absolute;
            top: -1vh;
            left: -0.5vw;
            font-size: 1vw;
            color: white;
            margin-left: 1vw;
        }
}

.tarjeta2PrecioSinDescuento{
    position: absolute;
    font-size: 70%;
    color: #6b6a6a !important;
    text-decoration: line-through;
    left: 16vw;
    top: 12vh;
}