.tarjetaProductoDetalleDescuentoContainer{
    background-color: #F88A1B;
    border: 1vw solid #F88A1B;
    height: 5.6vh;
    width: 5vw;
    border-radius: 2vw;
    
    top: 35vh;
    right: 12vw;
    display: flex;
    align-items: center;
        img{
            
            height: 1.5vh;
        }

        h3{
            margin-top: 0.4vh;
            font-size: 1vw;
            color: white;
            margin-right: 1vw;
            
        }
}

.tarjetaProductoDetalleSinDescuento{
    
    font-size: 80%;
    color: #6b6a6a !important;
    text-decoration: line-through;
    right: 16vw;
    top: 33vh;
}

.tarjetaProductoDetallePrecioDiv{
    display: flex;
}